
/*-- Start Profile --*/
.saloon_slide{
	padding:0px;
	margin:0px auto 210px;
	}
.saloon_slide img{
	margin:0 auto;
	}
.saloon{
	margin-bottom:80px;
	}
.person_image_circle{
	width:265px;
	height:265px;
	margin:0 auto;
	border-radius:50%;
	overflow:hidden;
	}
.person_image_circle img{
	width:265px;
	height:265px;
	border-radius: 100%;
	}
/*-- End Profile --*/

/*-- Start Saloon Service --*/
.saloon-service{
	background-color:black;
	padding: 50px 0px;
	margin-bottom:0px;
	}
.margin_container{
	margin-left:25px;
	margin-right:30px;
	}
.saloon-service  .panel-group .panel_tab{
	margin-top:2px;
	}
.padding_right{
	padding-right:0px;
	}
.accordion_sign{
	float:right;
	font-size:14px;
	line-height:18px;
	font-weight:normal;
	}
.saloon-service .service_title{
	font-size:18px;
	line-height:36px;
	font-weight:bold;
	text-transform:uppercase;
	margin-bottom:20px;
	color:#33CCFF;
	}
.saloon-service  .tab_title{
	text-transform:uppercase;
	color:#ffffff;
	font-size:14px;
	line-height:18px;
	font-weight:bold;
	}
.saloon-service  .tab_title a{
	text-decoration:none;
	display:block;
	}
.tab_title a{
background:url(../assets/images/minus_sign.png) no-repeat right center;
	}
.tab_title a.collapsed{
	background:url(../assets/images/plus_sign.png) no-repeat right center;
	}
.saloon-service .small_text{
	font-size: 14px;
	line-height:20px;
	margin-bottom:20px;
	}
.time_schdule ul{
	margin:0;
	padding:0;
	}
.time_schdule ul li{
	list-style:none;
	color:#1c2734;
	font-size:14px;
	line-height:20px;
	}
.time_right{
	float:right;
	}
.padding_left{
	padding-left:0px;
	}
.order_box img{
	margin:0 auto;
	}
.order_box_title{
	font-size:16px;
	line-height:20px;
	font-weight:bold;
	text-align:center;
	margin-top: 30px;
	margin-bottom:15px;
	}
.order_box_content{
	border:1px solid #f4f4f4;
	background-color:#fcfbfb;
	margin-bottom: 25px;
	}
.price{
	height:52px;
	font-size:18px;
	line-height:20px;
	font-weight:bold;
	color:#ffffff;
	text-align:center;
	margin-bottom: 0px;
	padding-top:15px;
	margin-top: -52px;
	position:relative;
	}
.order_button_box{
	margin-top: 20px;
	margin-bottom:-20px;
	}
.order_box_text{
	font-size: 12px;
	line-height:20px;
	margin-bottom:20px;
	padding:0px 10px;
	}
.order_button{
	font-size:12px;
	line-height:20px;
	font-weight:bold;
	color:#ffffff;
	text-transform:uppercase;
	padding: 10px 20px;
	}
.order_button:hover{
	background-color:#102540;
	color:#ffffff;
	}
/*-- End Saloon Service --*/

/*-- Start Popular services --*/
.sa_popular_service{
	background-color:#ffffff;
	padding:65px 0px 100px;
	}
.service_row{
	margin-bottom:50px;
	}
.sa_service_heading{
	text-align:center;
	text-transform:uppercase;
	font-size:16px;
	line-height:20px;
	font-weight:bold;
	}
.sa_service_text{
	text-align:center;
	font-size:14px;
	line-height:20px;
	}
.sa_popular_service .sa_service_package{
	width:100%;
	overflow:hidden;
	background-color:#fcfbfb!important;
	margin-bottom:30px;
	}
.service_inner_left{
	float:left;
	background-color:#1c2734;
	width: 12%;
	text-align:center;
	}
.service_inner_left .font{
	color:#ffffff;
	font-size:24px;
	line-height:20px;
	font-weight:bold;
	background-color:#1c2734;
	}
.service_price{
	font-size:24px;
	line-height:20px;
	font-weight:bold;
	color:#ffffff;
	margin-bottom:0px;
	padding: 22.6px 15px;
	text-align:center;
	}
.service_inner_middle{
	width:50%;
	float:left;
	padding:0px 15px;
	}
.service_inner_title{
	font-size:20px;
	line-height:20px;
	text-align: right;
	font-weight:normal;
	}
.service_inner_text{
	font-size:14px;
	line-height:20px;
	text-align:right;
	}
.service_inner_right{
	float:left;
	width:38%;
	}
.service_inner_right img{
	margin:0 auto;
	}
.plus{
	display:none;
	font-size:50px;
	font-weight:normal;
	color:#ffffff;
	background-color:#323c48;
	cursor:pointer;
	padding: 10.9% 16.5% 10.9% 16.5%;
	opacity:0.7;
	filter:alpha(opacity=70);/* For IE8 and earlier */
	}
.service_inner_right:hover .plus{
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	}
/*-- End Popular services --*/
