/*--  Start Style Sheet for Blog Page  --*/

/*-- Start Blog Image --*/
.blog_page{
	padding-bottom:0px;
	}
.blog_page .tab_list{
	margin:0;
	padding:0;
	list-style-type:none;
	}
.blog_page .tab_list li{
	margin-bottom:0px;
	}
.blog_page .tab_list li:nth-child(even){
	margin-top:91px;
	}
.portfolio_image_tab{
	margin-bottom:0px;
	}
/*-- End Blog Image--*/

.blog_section{
	background: #ffffff url(../assets/images/blog_bg.png) repeat-y 84% 0%;
	}
	/*-- Start Blog left --*/
.blog_section .left{
	float:left;
	margin-top: 90px;
	padding-right: 30px;
	}
.blog_section .post_title{
	text-transform:uppercase;
	font-size:16px;
	font-weight:bold;
	line-height:36px;
	margin-top: 30px;
	}
.blog_section .post_contant{
	font-size:12px;
	line-height:20px;
	color:#102540;
	}
.blog_section .post_date{
	font-size:16px;
	line-height:30px;
	color:#a0ce4e;
	font-weight:normal;
	margin-left:5px;
	}
.blog_section .custom_read_more_btn{
	text-transform:uppercase;
	color:#a0ce4e;
	font-size:14px;
	line-height:48px;
	padding:0px 48px;
	border:1px solid #a5d057;
	border-radius:7px;
	margin-top:15px;
	margin-bottom:100px;
	}
.blog_section .custom_read_more_btn:hover{
	background-color:#a0ce4e;
	color:#ffffff;
	}
.blog_section .blog_bottom_row{
	margin-bottom:36px;
	}
.blog_section .blog_bottom_row .video_playback iframe{
	width:100%!important;
	height:390px;
	}
.blog_section .next_page_icon .icon{
	width:49px;
	float:left;
	margin-right:10px;
	}
.blog_section .next_page_icon .icon a{
	text-decoration:none;
	background:url(../assets/images/contact_bg.png) no-repeat 0% 0%;
	height:49px;
	color:#ffffff;
	font-size:16px;
	line-height:33px;
	display:block;
	text-align:center;
	padding-top: 8px;
	}
.blog_section .next_page_icon .icon a:hover{
	background:url(../assets/images/hover-bg.png) no-repeat;
	font-weight:bold;
	-webkit-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	}
.active_pagination{
	background:url(../assets/images/hover-bg.png) no-repeat!important;
	font-weight: bold;
	}
	/*-- End Blog left --*/
	
/*-- End Blog Post --*/

/*-- Start Sidebar Section --*/
.blog_section .sidebar_right{
	float:right;
	padding-top: 78px;
	padding-left: 30px;
	}
.blog_section .sidebar_bottom_space{
	margin-bottom:90px;
	}
.blog_section .sidebar_right .news_title{
	text-transform:uppercase;
	font-size:16px;
	font-weight:bold;
	line-height:36px;
	margin-top: 0px;
	}
.blog_section .sidebar_right .sidebar_text{
	font-size:12px;
	line-height:20px;
	text-align:justify;
	}
.blog_section .sidebar_right .news_list{
	margin:0;
	padding:0;
	}
.blog_section .news_list li{
	list-style:none;
	}
.blog_section .news_list li a{
	text-decoration:none;
	color:#102540;
	}
.blog_section .news_list li a:hover{
	text-decoration:underline;
	}
.blog_section .news_list li {
	text-decoration:none;
	color:#102540;
	margin-bottom:18px;
	}
.blog_section .news_list li h4{
	font-size:16px;
	line-height:20px;
	margin-bottom:0px;
	}
.blog_section .news_list .color_date {
	color:#a0ce4e;
	font-size:14px;
	line-height:20px;
	}
.blog_section .sidebar_right .custom_btn_bottom{
	padding:0px 38px; 
	color:#ffffff;
	border:none; 
	margin:5px 5px 5px 0px;
	border-radius: 7px;
	font-size:16px;
	line-height:48px;
	}
.blog_section .sidebar_right .custom_btn_bottom:hover{
	background-color:#a0ce4e;
	}
/*-- End Sidebar Section --*/

/*--  End Style Sheet for Blog Page  --*/